# Dependency directories
node_modules/
jspm_packages/

# Environment variables (أهم سطر لحماية بياناتك)
.env
.env.test
.env.production
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

